body {
  padding-top: 60px;
}

.navbar-logo {
  margin-right: 24px;
}

.table thead .th-actions {
  min-width: 120px;
}

.table thead th .oi {
  font-size: 8px;
  display: none;
  color: #8eb4cb;
  margin: 0 0 0 12px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.table thead th.sort-asc .oi-caret-top {
  display: inline-block;
}

.table thead th.sort-desc .oi-caret-bottom {
  display: inline-block;
}

.table tbody th {
  vertical-align: middle;
}

.table tbody td {
  color: #969ea2;
  vertical-align: middle;
}

.row-filters {
  padding-bottom: 6px;
}

.form-dates {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form-dates .input-group {
  margin-left: 6px;
  -ms-flex-preferred-size: 140px;
      flex-basis: 140px;
}

