body {
  padding-top: 60px;
}

.navbar-logo {
  margin-right: 24px;
}

.table thead .th-actions {
  min-width: 120px;
}

.table thead th .oi {
  font-size: 8px;
  display: none;
  color: #8eb4cb;
  margin: 0 0 0 12px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.table thead th.sort-asc .oi-caret-top {
  display: inline-block;
}

.table thead th.sort-desc .oi-caret-bottom {
  display: inline-block;
}

.table tbody th {
  vertical-align: middle;
}

.table tbody td {
  color: #969ea2;
  vertical-align: middle;
}

.table tbody .skills th,
.table tbody .skills td {
  border: 0;
}

.note {
  display: block;
  font-size: 0.75em;
  line-height: 1.25;
  font-weight: 200;
  color: #a1a6a9;
}

.row-filters {
  padding-bottom: 6px;
}

.form-dates {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form-dates .input-group {
  margin-left: 6px;
  -ms-flex-preferred-size: 140px;
      flex-basis: 140px;
}

.drop-skills {
  position: relative;
  overflow: visible;
}

.drop-skills .btn {
  position: relative;
  z-index: 0;
}

.skills-list {
  position: absolute;
  z-index: 1;
  top: 99%;
  left: 0;
  padding: 0;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background-color: #fff;
}

.skills-list .form-check {
  padding: 0 24px 0 32px;
  height: 0;
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  position: relative;
}

.skills-list .form-check:hover {
  background-color: #f2f2f2;
}

.skills-list .form-check input[type="checkbox"] {
  position: absolute;
  left: 12px;
  top: 14px;
}

.drop-skills:hover .skills-list {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  pointer-event: all;
  opacity: 1;
  border-color: rgba(0, 0, 0, 0.125);
}

.drop-skills:hover .form-check {
  padding: 8px 24px 8px 32px;
  height: 40px;
}

